@model List<SystemIntegrated.Models.Operacao.VendaViewModel>
@{

    ViewBag.Title = "Cadastro de Vendas";
    var lista = Model;
    var titulo = ViewBag.Title;

}
<!--CSS-->
<link href="~/Content/Jquery-ui/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Operacao/OperEntradaNota.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />

<style>
    .modal-dialog {
        width: 1000px !important;
    }
</style>

<div class="col-md-12">

    <section id="cadastro_cabecalho">
        <h2 style="color:#000">@ViewBag.Title</h2>
    </section>

    <div id="cadastro_conteudo">
        <div id="cabecalho_grid">
            <div class="form-group">
                <div class="col-md-2">
                    <a id="btn_incluir" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.DropDownList("ddl_tam_pag", (SelectList)ViewBag.ListaTamPag, new { @class = "selectpicker form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="form-group left-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.TextBox("txt_filtro", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="overflow:auto">
        <table id="grid_cadastro" class="table table-bordered table-striped table-hover @Html.Raw(lista == null || lista.Count == 0 ? "invisivel" : "")">
            <thead>
                <tr class="info">
                    <th>#</th>
                    <th>Dt Venda</th>
                    <th>Numero</th>
                    <th>VL. Total Produtos</th>
                    <th>VL. Frete</th>
                    <th>VL. Acréscimo</th>
                    <th>VL. Desconto</th>
                    <th>VL. Total Nota</th>
                    <th>VL. Pago</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr data-id="@item.Id">
                            <td>
                                <a id="detalhamento" class="btn btn-primary" title="Detalhamento">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </td>
                            <td class="text-right">@item.DataVenda</td>
                            <td class="text-right">@item.NumeroVenda</td>
                            <td class="text-right">@item.ValorProduto</td>
                            <td class="text-right">@item.ValorFrete</td>
                            <td class="text-right">@item.ValorAcrescimo</td>
                            <td class="text-right">@item.ValorDesconto</td>
                            <td class="text-right">@item.ValorTotalNota</td>
                            <td class="text-right"> @item.ValorPago</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div id="mensagem_grid" @Html.Raw(lista != null && lista.Count > 0 ? "class=\"invisivel\"" : "")>
            Nenhum Registro em @titulo
        </div>

        <!--PAGINAÇÃO-->
        @if (ViewBag.QuantPaginas > 1)
        {
            <div id="row">
                <nav>
                    <ul class="pagination">
                        <li class="page-item active"><a class="page-link">1</a></li>
                        @for (var i = 2; i < ViewBag.QuantPaginas; i++)
                        {
                            <li class="page-item"><a class="page-link">@i</a></li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>

@Html.Hidden("id_cadastro")

<!--FORMULÁRIO DE CADASTRO E EDIÇÃO-->
<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <div id="msg_mensagem_aviso" class="alert alert-danger invisivel"></div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("txt_datavenda", "Data Venda", new { @class = "control-label required" })
                @Html.TextBox("txt_datavenda", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("txt_numerovenda", "Número Venda", new { @class = "control-label required" })
                @Html.TextBox("txt_numerovenda", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3 invisivel">
                @Html.Label("txt_datacadastro", "Data Cadastro", new { @class = "control-label required" })
                @Html.TextBox("txt_datacadastro", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3 invisivel">
                @Html.Label("txt_valorpago", "ValorPago", new { @class = "control-label required" })
                @Html.TextBox("txt_valorpago", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.Label("txt_idcliente", "Código", new { @class = "control-label required" })
                @Html.TextBox("txt_idcliente", null, new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                @Html.Label("suggest_cliente", "Nome do Cliente", new { @class = "control-label required" })
                @Html.TextBox("suggest_cliente", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("ddl_idfreteporconta", "Frete Por Conta", new { @class = "control-label required" })
                @Html.DropDownList("ddl_idfreteporconta", new SelectList(ViewBag.FretePorConta, "Id", "Nome"), new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("txt_valorfrete", "VL. Frete", new { @class = "control-label required" })
                @Html.TextBox("txt_valorfrete", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("txt_valorprodutos", "VL. Total Produtos", new { @class = "control-label required" })
                @Html.TextBox("txt_valorprodutos", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("txt_valordesconto", "VL. Desconto", new { @class = "control-label required" })
                @Html.TextBox("txt_valordesconto", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("txt_valoracrescimo", "VL. Acréscimo", new { @class = "control-label required" })
                @Html.TextBox("txt_valoracrescimo", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("txt_valortotalnota", "VL. Total Nota", new { @class = "control-label required" })
                @Html.TextBox("txt_valortotalnota", null, new { @class = "form-control" })
            </div>
        </div>
        <div id="botao_continuar" class="form-group" style="margin-top:15px">
            <div class="modal-footer">
                <a id="btn_continuar" class="btn btn-warning" role="button"><i class="glyphicon glyphicon-ok"></i> Continuar</a>
            </div>
        </div>

        <!--Formulário e grade dos itens -->

        <div id="divitens" class="invisivel">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color:#000">Dados dos Produtos/Serviços</h1>
                </div>
            </div>
            <div class="row">
                <div id="msg_mensagem_aviso_produto" class="alert alert-danger invisivel"></div>
                <div class="col-md-2">
                    @Html.Label("txt_idproduto", "Código Produto", new { @class = "control-label required" })
                    @Html.TextBox("txt_idproduto", null, new { @class = "form-control", tabindex = 1 })
                </div>
                <div class="col-md-6">
                    @Html.Label("suggest_produto", "Descrição Produto", new { @class = "control-label required" })
                    @Html.TextBox("suggest_produto", null, new { @class = "form-control", tabindex = 2 })
                </div>
                <div class="col-md-2">
                    @Html.Label("txt_estoqueatual", "Estoque Atual", new { @class = "control-label required" })
                    @Html.TextBox("txt_estoqueatual", null, new { @class = "form-control", tabindex = 3 })
                </div>
                <div class="col-md-2">
                    @Html.Label("txt_unidademedida", "Un. Medida", new { @class = "control-label required" })
                    @Html.TextBox("txt_unidademedida", null, new { @class = "form-control", tabindex = 4 })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("txt_quantidadeproduto", "Quantidade", new { @class = "control-label required" })
                    @Html.TextBox("txt_quantidadeproduto", null, new { @class = "form-control", tabindex = 5 })
                </div>
                <div class="col-md-2">
                    @Html.Label("txt_valorunitarioproduto", "Valor Unitário", new { @class = "control-label required" })
                    @Html.TextBox("txt_valorunitarioproduto", null, new { @class = "form-control", tabindex = 6 })
                </div>
                <div class="col-md-2">
                    @Html.Label("txt_valordescontoproduto", "VL. Desconto", new { @class = "control-label required" })
                    @Html.TextBox("txt_valordescontoproduto", null, new { @class = "form-control", tabindex = 7 })
                </div>
                <div class="col-md-2">
                    @Html.Label("txt_valoracrescimoproduto", "VL. Acréscimo", new { @class = "control-label required" })
                    @Html.TextBox("txt_valoracrescimoproduto", null, new { @class = "form-control", tabindex = 8 })
                </div>
                <div class="col-md-3">
                    @Html.Label("txt_valortotalproduto", "Valor Total", new { @class = "control-label required" })
                    @Html.TextBox("txt_valortotalproduto", null, new { @class = "form-control", tabindex = 9 })
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="modal-footer">
                    <a id="btn_incluirproduto" class="btn btn-success" role="button" tabindex="10"><i class="glyphicon glyphicon-ok"></i> incluir</a>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">DADOS DO PRODUTO/ SERVIÇOS</div>
                        <div class="panel-body" style="height:auto">
                            <div class="col-md-12">
                                <table id="grid_itens" class="table table-bordered table-striped table-hover invisivel">
                                    <thead>
                                        <tr class="info">
                                            <th>CODIGO</th>
                                            <th>PRODUTOS/SERVIÇOS</th>
                                            <th>UNID</th>
                                            <th>QUANT.</th>
                                            <th>VL. UNITÁRIO</th>
                                            <th>DESCONTO</th>
                                            <th>ACRÉSCIMO</th>
                                            <th>VL. TOTAL</th>
                                            <th>AÇÃO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("ddl_idformapagamento", "Forma de Pagamento", new { @class = "control-label required" })
                            @Html.DropDownList("ddl_idformapagamento", new SelectList(ViewBag.FormasPagamento, "Id", "Nome"), new { @class = "form-control" })
                        </div>
                        <div id="div_quantidadeparcela" class="col-md-2 invisivel">
                            @Html.Label("txt_quantidadeparcela", "Nª Parcelas", new { @class = "control-label required" })
                            @Html.TextBox("txt_quantidadeparcela", null, new { @class = "form-control" })
                        </div>
                        <div id="div_gerarparcela" class="col-md-2 invisivel" style="margin-top:28px">
                            <a id="btn_gerarparcelas" class="btn btn-success" role="button"><i class="glyphicon glyphicon-ok"></i> Gerar Parcelas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top:15px">
                <div class="modal-footer">
                    <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
                    <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
                </div>
                <div id="msg_aviso" class="btn btn-warning invisivel">Falta preencher os campos acima</div>
                <div id="msg_erro" class="btn btn-danger invisivel">Ocorreu um erro inesperado, tente novamente mais tarde</div>
            </div>
        </div>
    </fieldset>
</div>

<!--modal detalhamento-->

<div id="detalhamento_venda" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("datavenda", "Data Venda", new { @class = "control-label required" })
                @Html.TextBox("datavenda", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("numerovenda", "Número Venda", new { @class = "control-label required" })
                @Html.TextBox("numerovenda", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3 invisivel">
                @Html.Label("datacadastro", "Data Cadastro", new { @class = "control-label required" })
                @Html.TextBox("datacadastro", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3 invisivel">
                @Html.Label("valorpago", "ValorPago", new { @class = "control-label required" })
                @Html.TextBox("valorpago", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.Label("idcliente", "Código", new { @class = "control-label required" })
                @Html.TextBox("idcliente", null, new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                @Html.Label("cliente", "Nome do Cliente", new { @class = "control-label required" })
                @Html.TextBox("cliente", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("idfreteporconta", "Frete Por Conta", new { @class = "control-label required" })
                @Html.DropDownList("idfreteporconta", new SelectList(ViewBag.FretePorConta, "Id", "Nome"), new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("valorfrete", "VL. Frete", new { @class = "control-label required" })
                @Html.TextBox("valorfrete", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("valorprodutos", "VL. Total Produtos", new { @class = "control-label required" })
                @Html.TextBox("valorprodutos", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("valordesconto", "VL. Desconto", new { @class = "control-label required" })
                @Html.TextBox("valordesconto", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("valoracrescimo", "VL. Acréscimo", new { @class = "control-label required" })
                @Html.TextBox("valoracrescimo", null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.Label("valortotalnota", "VL. Total Nota", new { @class = "control-label required" })
                @Html.TextBox("valortotalnota", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("idformapagamento", "Forma de Pagamento", new { @class = "control-label required" })
                @Html.DropDownList("idformapagamento", new SelectList(ViewBag.FormasPagamento, "Id", "Nome"), new { @class = "form-control" })
            </div>
        </div>
        <div id="div_detalhamentoparcelas" class="row invisivel" style="margin-top:15px">
            <div class="col-md-12">
                <div class="col-md-12" style="border:1px solid #ddd; border-radius:5px 5px 5px 5px">
                    <h3 style="color:#000">Parcelas</h3>
                    <div id="detalhes_parcelas">
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">DADOS DO PRODUTO/ SERVIÇOS</div>
                    <div class="panel-body" style="height:auto">
                        <div class="col-md-12">
                            <table id="grid_itens_venda" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>CODIGO</th>
                                        <th>PRODUTOS/SERVIÇOS</th>
                                        <th>UNID</th>
                                        <th>QUANT.</th>
                                        <th>VL. UNITÁRIO</th>
                                        <th>DESCONTO</th>
                                        <th>ACRÉSCIMO</th>
                                        <th>VL. TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:15px">
            <div class="modal-footer">
                <a id="btn_fechar" class="btn btn-info" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Fechar</a>
            </div>
        </div>
    </fieldset>
</div>

<!--M-->
<div id="div_modalparcelas" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <div class="col-md-12">
            <table id="grig_parcelas" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="info">
                        <th>Numero Parcela</th>
                        <th>Data Vencimento</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="form-group" style="margin-top:15px">
                <div class="modal-footer">
                    <a id="btn_gravar" class="btn btn-info" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-check"></i> Gravar</a>
                </div>
            </div>
            </div>
    </fieldset>
</div>


@section Scripts{

    <script src="~/Scripts/Jquery-ui/jquery-ui.js"></script>
    <script>

        function add_anti_forgery_token(data) {
            data.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
            return data;
        }

        function abrir_form(dados) {
            habilitar_campos_nota();

            $('#divitens').addClass('invisivel');
            $('#botao_continuar').removeClass('invisivel');
            $('#id_cadastro').val(dados.Id);


            $('#txt_datavenda').val(dados.DataVenda);
            $('#txt_datavenda').mask('00/00/0000');

            $('#txt_numerovenda').val(dados.NumeroVenda);
            $('#txt_numerovenda').attr('disabled', true);

            $('#txt_idcliente').attr('disabled', true);
            $('#txt_idcliente').val(dados.IdCliente);

            $('#suggest_cliente').val(dados.NomeCliente);

            $('#ddl_idfreteporconta').val(dados.IdFretePorConta);

            $('#txt_valorfrete').val(dados.ValorFrete);
            $('#txt_valorfrete').mask('###0,00', { reverse: true });

            $('#txt_valorprodutos').val(dados.ValorProdutos);
            $('#txt_valorprodutos').mask('###0,00', { reverse: true });
            $('#txt_valorprodutos').attr('disabled', true);

            $('#txt_valordesconto').val(dados.ValorTotalNota);
            $('#txt_valordesconto').mask('###0,00', { reverse: true });
            $('#txt_valordesconto').attr('disabled', true);

            $('#txt_valoracrescimo').val(dados.ValorAcrescimo);
            $('#txt_valoracrescimo').mask('###0,00', { reverse: true });
            $('#txt_valoracrescimo').attr('disabled', true);

            $('#txt_valortotalnota').val(dados.ValorTotalNota);
            $('#txt_valortotalnota').mask('###0,00', { reverse: true });
            $('#txt_valortotalnota').attr('disabled', true);

            $('#txt_valorpago').val(dados.ValorPago);
            $('#txt_valorpago').mask('###0,00', { reverse: true });

            $('#txt_datacadastro').val(dados.DataCadastro);
            $('#txt_datacadastro').mask('00/00/0000');


        }

        function habilitar_campos_nota() {

            $('#txt_datavenda').removeAttr('disabled');
            $('#suggest_cliente').removeAttr('disabled');
            $('#ddl_idfreteporconta').removeAttr('disabled');
            $('#txt_valorfrete').removeAttr('disabled');

        }

        function desabilitar_campos_nota() {

            $('#txt_datavenda').attr('disabled', true);
            $('#txt_numerovenda').attr('disabled', true);
            $('#txt_idcliente').attr('disabled', true);
            $('#suggest_cliente').attr('disabled', true);
            $('#ddl_idfreteporconta').attr('disabled', true);
            $('#txt_valorfrete').attr('disabled', true);
            $('#txt_valorprodutos').attr('disabled', true);
            $('#txt_valoracrescimo').attr('disabled', true);
            $('#txt_valordesconto').attr('disabled', true);
            $('#txt_valortotalnota').attr('disabled', true);

        }

        function abrir_form_produtos(dados) {

            $('#botao_continuar').addClass('invisivel');
            $('#divitens').removeClass('invisivel');

            $('#suggest_produto').focus();
            $('#suggest_produto').val(dados.NomeProduto);

            $('#txt_idproduto').val(dados.IdProduto);
            $('#txt_idproduto').attr('disabled', true);

            $('#txt_estoqueatual').val(dados.EstoqueAtual);
            $('#txt_estoqueatual').attr('disabled', true);

            $('#txt_unidademedida').val(dados.UnidadeMedida);
            $('#txt_unidademedida').attr('disabled', true);

            $('#txt_quantidadeproduto').val(dados.QuantidadeProduto);


            $('#txt_valorunitarioproduto').val(dados.ValorUnitarioProduto);
            $('#txt_valorunitarioproduto').mask('###0,00', { reverse: true });

            $('#txt_valordescontoproduto').val(dados.ValorDescontoProduto);
            $('#txt_valordescontoproduto').mask('###0,00', { reverse: true });

            $('#txt_valoracrescimoproduto').val(dados.ValorAcrescimoProduto);
            $('#txt_valoracrescimoproduto').mask('###0,00', { reverse: true });

            $('#txt_valortotalproduto').val(dados.ValorTotalProduto);
            $('#txt_valortotalproduto').mask('###0,00', { reverse: true });
            $('#txt_valortotalproduto').attr('disabled', true);

            $('#ddl_idformapagamento').val(dados.IdFormaPagamento);

        }

        function criar_linha_grid(dados) {

            var ret =
                '<tr data-id=' + dados.Id + '>' +
                    '<td>'+
                        '<a id="detalhamento" class="btn btn-primary" title="Detalhamento"> <i class="fa fa-bars"></i> </a ></td > ' +
                    '<td class="text-right">' + dados.DataVenda + '</td>' +
                    '<td class="text-right">' + dados.NumeroVenda + '</td> ' +
                    '<td class="text-right">' + dados.ValorProduto + '</td>' +
                    '<td class="text-right">' + dados.ValorFrete + '</td>' +
                    '<td class="text-right">' + dados.ValorAcrescimo + '</td>' +
                    '<td class="text-right">' + dados.ValorDesconto + '</td>' +
                    '<td class="text-right">' + dados.ValorTotalNota +'</td>' +
                    '<td class="text-right">' + dados.ValorPago + '</td>' +
                '</tr>';

            return ret;

        }

        function criar_linha_itens(dados) {
            var ret =
                '<tr data_idproduto=' + dados.Id + '>' +
                    '<td>'+ dados.IdProduto + '</td>' +
                    '<td>'+ dados.NomeProduto + '</td>' +
                    '<td>'+ dados.UnidadeMedida + '</td>' +
                    '<td>'+ dados.QuantidadeProduto + '</td>' +
                    '<td>'+ dados.ValorUnitarioProduto + '</td>' +
                    '<td>' + dados.ValorDescontoProduto + '</td>' +
                    '<td>' + dados.ValorAcrescimoProduto + '</td>' +
                    '<td>'+ dados.ValorTotalProduto + '</td>' +
                    '<td>'                +
                        '<a id="btn_excluir_item" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a>' +
                    '</td>' +
                '</tr>';

            return ret;
        }

        function formatar_mensagens_aviso(mensagens) {

            var ret = "";

            for (var i = 0; i < mensagens.length; i++) {

                ret += '<li>' + mensagens[i] + '</li>';
                break;
            }

            return '<ul>' + ret + '</ul>';

        }

        function limpar_campos_produtos() {

            $('#txt_idproduto').val('');
            $('#suggest_produto').val('');
            $('#txt_unidademedida').val('');
            $('#txt_estoqueatual').val('');
            $('#txt_quantidadeproduto').val('0');
            $('#txt_valorunitarioproduto').val('0,00');
            $('#txt_valordescontoproduto').val('0,00');
            $('#txt_valoracrescimoproduto').val('0,00');
            $('#txt_valortotalproduto').val('0,00');

            $('#suggest_produto').focus();
        }

        function abrir_detalhamento(dados) {

            var tituloDetalhamento = 'Detalhamento da Venda Nº ' + dados.NumeroVenda;

            $('#id_cadastro').val(dados.Id);

            $('#datavenda').val(dados.DataVenda);
            $('#datavenda').attr('disabled', true);

            $('#numerovenda').val(dados.NumeroVenda);
            $('#numerovenda').attr('disabled', true);

            $('#idcliente').val(dados.IdCliente);
            $('#idcliente').attr('disabled', true);

            $('#cliente').val(dados.NomeCliente);
            $('#cliente').attr('disabled', true);

            $('#idfreteporconta').val(dados.IdFretePorConta);
            $('#idfreteporconta').attr('disabled', true);

            $('#valorfrete').val(dados.ValorFrete);
            $('#valorfrete').attr('disabled', true);

            $('#valorprodutos').val(dados.ValorProduto);
            $('#valorprodutos').attr('disabled', true);

            $('#valordesconto').val(dados.ValorDesconto);
            $('#valordesconto').attr('disabled', true);

            $('#valoracrescimo').val(dados.ValorAcrescimo);
            $('#valoracrescimo').attr('disabled', true);

            $('#valortotalnota').val(dados.ValorTotalNota);
            $('#valortotalnota').attr('disabled', true);

            $('#idformapagamento').val(dados.IdFormaPagamento);
            $('#idformapagamento').attr('disabled', true);

            var detalhamento_venda = $('#detalhamento_venda')

            bootbox.dialog({
                title: tituloDetalhamento,
                message: detalhamento_venda

            }).on('shown.bs.modal', function () {

                detalhamento_venda.show(0, function () {

                    $('#txt_dataemissao').focus();

                });

            }).on('hidden.bs.modal', function () {

                detalhamento_venda.hide().appendTo('tbody');

            });
        }

        function criar_linha_grid_itens(dados) {
            var ret =
                '<tr data_idproduto=' + dados.Id + '>' +
                '<td class="text-center">' + dados.IdProduto + '</td>' +
                '<td>' + dados.NomeProduto + '</td>' +
                '<td>' + dados.UnidadeMedida + '</td>' +
                '<td class="text-center">' + dados.QuantidadeProduto + '</td>' +
                '<td class="text-right">' + dados.ValorUnitarioProduto + '</td>' +
                '<td class="text-right">' + dados.ValorDescontoProduto + '</td>' +
                '<td class="text-right">' + dados.ValorAcrescimoProduto + '</td>' +
                '<td class="text-right">' + dados.ValorTotalProduto + '</td>' +
                '</tr>';

            return ret;
        }

    $(document)
        .on('click', '#btn_incluir', function () {

            var url = '@Url.Action("RecuperarUltimoNumero","OperVenda")',
                hoje = new Date(),
                dataCadastro = formatar_data_atual(hoje),
                dataVenda = formatar_data_atual(hoje);
            var ret = '';

            $.post(url, function (response) {

                if (response.Resultado == "OK") {

                    for (var i = 0; i < 7; i++) {

                        if (ret.length < (7 - response.NumeroNota.length)) {

                            ret = ret + 0;

                        } else {

                            ret = ret + response.NumeroNota;
                        }

                    }

                    abrir_form({
                        Id: 0,
                        DataVenda: dataVenda,
                        IdCliente: '',
                        NumeroVenda: ret,
                        IdFretePorConta: 0,
                        ValorFrete: '0,00',
                        ValorProdutos: '0,00',
                        ValorAcrescimo: '0,00',
                        ValorTotalNota: '0,00',
                        ValorDesconto: '0,00',
                        ValorPago: '0,00',
                        DataCadastro: dataCadastro
                    });

                    var modal_cadastro = $('#modal_cadastro')
                    bootbox.dialog({
                        title: '@ViewBag.Title',
                        message: modal_cadastro

                    }).on('shown.bs.modal', function () {

                        modal_cadastro.show(0, function () {

                            $('#txt_datavenda').focus();

                        });
                    }).on('hidden.bs.modal', function () {

                        modal_cadastro.hide().appendTo('tbody');

                    })
                }
            });
        })

        .on('click', '#btn_continuar', function () {

            var btn = $(this),
                url = '@Url.Action("VerificarCampos", "OperVenda")',
                param = {

                    Id: $('#id_cadastro').val(),
                    IdCliente: $('#txt_idcliente').val(),
                    DataVenda: $('#txt_datavenda').val(),
                    NumeroVenda: $('#txt_numerovenda').val(),
                    ValorTotalNota: $('#txt_valortotalnota').val(),
                    ValorPago: $('#txt_valorpago').val(),
                    ValorDesconto: $('#txt_valordesconto').val(),
                    ValorFrete: $('#txt_valorfrete').val(),
                    IdFretePorConta: $('#ddl_idfreteporconta').val(),
                    DataCadastro: $('#txt_datacadastro').val(),
                    ValorProduto: $('#txt_valorprodutos').val(),
                    ValorAcrescimo: $('#txt_valoracrescimo').val()

                };

            $.post(url, param, function (response) {

                if (response.Resultado == "OK") {

                    desabilitar_campos_nota();

                    abrir_form_produtos({

                        IdNotaItens: 0,
                        IdProduto: '',
                        NomeProduto: '',
                        QuantEstoque: '',
                        UnidadeMedida: '',
                        QuantidadeProduto: '0',
                        ValorUnitarioProduto: '0,00',
                        ValorDescontoProduto: '0,00',
                        ValorAcrescimoProduto: '0,00',
                        ValorTotalProduto: '0,00',
                        IdFormaPagamento: 0

                    });

                } else if (response.Resultado == "AVISO") {

                    $('#msg_mensagem_aviso').html(formatar_mensagens_aviso(response.Mensagens));
                    $('#msg_mensagem_aviso').show();
                    $('#msg_aviso').show();
                    $('#msg_erro').hide();

                    setInterval(function () {

                        $('#msg_mensagem_aviso').val('');
                        $('#msg_mensagem_aviso').hide();
                        $('#msg_aviso').hide();


                    }, 5000);

                }
            })
        })

        .on('keyup', '#suggest_cliente', function () {

            var btn = $(this),
                query = btn.val();

            $('#suggest_cliente').autocomplete({

                source: function (request, response) {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("RemoteData", "CadCliente")",
                        dataType: "json",
                        data: {
                            query: query
                        },
                        success: function (data) {

                            if (data) {

                                response($.map(data, function (item) {

                                    return {
                                        Id: item.Id,
                                        Nome: item.Nome,
                                        label: item.Nome, value: item.Nome

                                    }
                                }));
                            }
                        }
                    });
                },
                minLength: 0,
                select: function (event, ui) {

                    $('#suggest_cliente').val(ui.item.Nome)
                    $("#txt_idcliente").val(ui.item.Id);
                }
            });
        })

        .on('blur', '#txt_valorfrete', function () {

            var valorFrete = $('#txt_valorfrete').val(),
                valorTotalNota = $('#txt_valortotalnota').val(),
                vlfrete = parseFloat(valorFrete.replace(",", ".")),
                vlTotalNota = parseFloat(valorTotalNota.replace(",", "."))
            somaValor = '';

            somaValor = (vlTotalNota + vlfrete).toFixed(2);

            $('#txt_valortotalnota').val(somaValor.replace(".", ","));
            $('#txt_valorfrete').attr('disabled', true);

        })

        .on('keyup', '#suggest_produto', function () {

            var btn = $(this),
                query = btn.val();

            $('#suggest_produto').autocomplete({

                source: function (request, response) {

                    $.ajax({
                        method: "POST",
                        url: '@Url.Action("RemoteData", "CadProduto")',
                        dataType: "json",
                        data: {

                            query: query
                        },
                        success: function (data) {

                            if (data) {

                                response($.map(data, function (item) {

                                    return {
                                        Id: item.Id,
                                        Nome: item.Nome,
                                        Sigla: item.Sigla,
                                        QuantEstoque: item.QuantEstoque,
                                        label: item.Nome, value: item.Nome
                                    }
                                }));
                            }
                        }
                    });
                }, minLength: 0,
                select: function (event, ui) {

                    $('#txt_idproduto').val(ui.item.Id);
                    $('#suggest_produto').val(ui.item.Nome);
                    $('#txt_unidademedida').val(ui.item.Sigla);
                    $('#txt_estoqueatual').val(ui.item.QuantEstoque);
                }
            });
        })

        .on('blur', '#txt_quantidadeproduto', function () {

            var quantidadeProduto = $('#txt_quantidadeproduto').val(),
                valorUnitarioProduto = $('#txt_valorunitarioproduto').val(),
                valorDescontoProduto = $('#txt_valordescontoproduto').val(),
                valorAcrescimoProduto = $('#txt_valoracrescimoproduto').val(),
                valorTotalProduto = $('#txt_valortotalproduto').val(),
                vl_unitarioProduto = parseFloat(valorUnitarioProduto.replace(",", ".")),
                vl_descontoProduto = parseFloat(valorDescontoProduto.replace(",", ".")),
                vl_acrescimoProduto = parseFloat(valorAcrescimoProduto.replace(",", "."));

            if ((quantidadeProduto > 0 || quantidadeProduto != "") && valorUnitarioProduto != "" && valorDescontoProduto != "" && valorAcrescimoProduto != "") {

                var somaValor = '';

                somaValor = ((quantidadeProduto * vl_unitarioProduto) - vl_descontoProduto + vl_acrescimoProduto).toFixed(2);

                $('#txt_valortotalproduto').val(somaValor.replace('.', ','));


            }
        })

        .on('blur', '#txt_valorunitarioproduto', function () {

            var quantidadeProduto = $('#txt_quantidadeproduto').val(),
                valorUnitarioProduto = $('#txt_valorunitarioproduto').val(),
                valorDescontoProduto = $('#txt_valordescontoproduto').val(),
                valorAcrescimoProduto = $('#txt_valoracrescimoproduto').val(),
                valorTotalProduto = $('#txt_valortotalproduto').val(),
                vl_unitarioProduto = parseFloat(valorUnitarioProduto.replace(",", ".")),
                vl_descontoProduto = parseFloat(valorDescontoProduto.replace(",", ".")),
                vl_acrescimoProduto = parseFloat(valorAcrescimoProduto.replace(",", "."));

            if ((quantidadeProduto > 0 || quantidadeProduto != "") && valorUnitarioProduto != "" && valorDescontoProduto != "" && valorAcrescimoProduto != "") {

                var somaValor = '';

                somaValor = ((quantidadeProduto * vl_unitarioProduto) - vl_descontoProduto + vl_acrescimoProduto).toFixed(2);

                $('#txt_valortotalproduto').val(somaValor.replace('.', ','));


            }
        })

        .on('blur', '#txt_valordescontoproduto', function () {

            var quantidadeProduto = $('#txt_quantidadeproduto').val(),
                valorUnitarioProduto = $('#txt_valorunitarioproduto').val(),
                valorDescontoProduto = $('#txt_valordescontoproduto').val(),
                valorAcrescimoProduto = $('#txt_valoracrescimoproduto').val(),
                valorTotalProduto = $('#txt_valortotalproduto').val(),
                vl_unitarioProduto = parseFloat(valorUnitarioProduto.replace(",", ".")),
                vl_descontoProduto = parseFloat(valorDescontoProduto.replace(",", ".")),
                vl_acrescimoProduto = parseFloat(valorAcrescimoProduto.replace(",", "."));

            if ((quantidadeProduto > 0 || quantidadeProduto != "") && valorUnitarioProduto != "" && valorDescontoProduto != "" && valorAcrescimoProduto != "") {

                var somaValor = '';

                somaValor = ((quantidadeProduto * vl_unitarioProduto) - vl_descontoProduto + vl_acrescimoProduto).toFixed(2);

                $('#txt_valortotalproduto').val(somaValor.replace('.', ','));


            }
        })

        .on('blur', '#txt_valoracrescimoproduto', function () {

            var quantidadeProduto = $('#txt_quantidadeproduto').val(),
                valorUnitarioProduto = $('#txt_valorunitarioproduto').val(),
                valorDescontoProduto = $('#txt_valordescontoproduto').val(),
                valorAcrescimoProduto = $('#txt_valoracrescimoproduto').val(),
                vl_unitarioProduto = parseFloat(valorUnitarioProduto.replace(",", ".")),
                vl_descontoProduto = parseFloat(valorDescontoProduto.replace(",", ".")),
                vl_acrescimoProduto = parseFloat(valorAcrescimoProduto.replace(",", "."));

            if ((quantidadeProduto > 0 || quantidadeProduto != "") && valorUnitarioProduto != "" && valorDescontoProduto != "" && valorAcrescimoProduto != "") {

                var somaValor = '';

                somaValor = ((quantidadeProduto * vl_unitarioProduto) - vl_descontoProduto + vl_acrescimoProduto).toFixed(2);

                $('#txt_valortotalproduto').val(somaValor.replace('.', ','));


            }
        })

        .on('click', '#btn_incluirproduto', function () {

            var id = 1;

            var quant = $('#grid_itens >tbody > tr').length;

            var quant = quant + id;

            var btn = $(this),
                url = '@Url.Action("InsertItemSession", "OperVendaItem")',
                param = {
                    Id: quant,
                    IdProduto: $('#txt_idproduto').val(),
                    NomeProduto: $('#suggest_produto').val(),
                    EstoqueAtual: $('#txt_estoqueatual').val(),
                    UnidadeMedida: $('#txt_unidademedida').val(),
                    QuantidadeProduto: $('#txt_quantidadeproduto').val(),
                    ValorUnitarioProduto: formatar_decimal($('#txt_valorunitarioproduto').val()),
                    ValorTotalProduto: formatar_decimal($('#txt_valortotalproduto').val()),
                    ValorDescontoProduto: formatar_decimal($('#txt_valordescontoproduto').val()),
                    ValorAcrescimoProduto: formatar_decimal($('#txt_valoracrescimoproduto').val())
                }

            $.post(url, param, function (response) {

                if (response.Resultado == "OK") {


                    var valorProdutos = parseFloat($('#txt_valorprodutos').val()),
                        valorDesconto = parseFloat($('#txt_valordesconto').val()),
                        valorAcrescimo = parseFloat($('#txt_valoracrescimo').val()),
                        valorTotalNota = parseFloat($('#txt_valortotalnota').val()),
                        quantidadeProduto = $('#txt_quantidadeproduto').val(),
                        valorUnitarioProduto = parseFloat($('#txt_valorunitarioproduto').val()),
                        valorDescontoProduto = parseFloat($('#txt_valordescontoproduto').val()),
                        valorAcrescimoProduto = parseFloat($('#txt_valoracrescimoproduto').val()),
                        valorTotalProduto = parseFloat($('#txt_valortotalproduto').val());

                    var sumValorProdutos = (valorProdutos + (quantidadeProduto * valorUnitarioProduto)).toFixed(2),
                        sumValorDesconto = (valorDesconto + valorDescontoProduto).toFixed(2),
                        sumValorAcrescimo = (valorAcrescimo + valorAcrescimoProduto).toFixed(2),
                        sumValorTotalNota = (valorTotalNota + valorTotalProduto).toFixed(2);


                    $('#txt_valorprodutos').val(sumValorProdutos.replace('.', ','));
                    $('#txt_valordesconto').val(sumValorDesconto.replace('.', ','));
                    $('#txt_valoracrescimo').val(sumValorAcrescimo.replace('.', ','));
                    $('#txt_valortotalnota').val(sumValorTotalNota.replace('.', ','));


                    param.ValorUnitarioProduto = $('#txt_valorunitarioproduto').val();
                    param.ValorTotalProduto = $('#txt_valortotalproduto').val();
                    param.ValorDescontoProduto = $('#txt_valordescontoproduto').val();
                    param.ValorAcrescimoProduto = $('#txt_valoracrescimoproduto').val();

                    var table = $('#grid_itens').find('tbody');

                    table.append(criar_linha_itens(param));

                    $('#grid_itens').removeClass('invisivel');

                    limpar_campos_produtos();

                }
                else if (response.Resultado == "ERRO") {

                    $('#msg_erro').show();
                    $('#msg_mensagem_aviso_produto').val('');
                    $('#msg_mensagem_aviso_produto').hide();
                    $('#msg_aviso').hide();

                } else if (response.Resultado == "AVISO") {

                    $('#msg_mensagem_aviso_produto').html(formatar_mensagens_aviso(response.Mensagens));
                    $('#msg_mensagem_aviso_produto').show();
                    $('#msg_aviso').show();
                    $('#msg_erro').hide();

                    setInterval(function () {

                        $('#msg_mensagem_aviso_produto').val('');
                        $('#msg_mensagem_aviso_produto').hide();
                        $('#msg_aviso').hide();

                    }, 5000);
                }
            });

        })

        .on('change', '#ddl_idformapagamento', function () {
            var ddl = $(this),
                id = parseInt(ddl.val())

            if (id == 1) {

                $('#div_quantidadeparcela').addClass('invisivel');
                $('#txt_quantidadeparcela').val('');

            } else if (id == 2) {

                $('#div_quantidadeparcela').removeClass('invisivel');
            }

        })

        .on('blur', '#txt_quantidadeparcela', function () {
            var btn = $(this),
                quantParcela = btn.val(),
                idFormaPagamento = $('#ddl_idformapagamento').val();

            if (idFormaPagamento == 2 && quantParcela > 0) {

                $('#div_gerarparcela').removeClass('invisivel');
            }
            else {

                $('#div_gerarparcela').removeClass('invisivel');

            }


        })

        .on('click', '#btn_confirmar', function () {

            var dataVenda = "",
                quant = $('#grid_itens > tbody > tr').length,
                idFormaPagamento = $('#ddl_idformapagamento').val(),
                quantidadeParcelas = $('#txt_quantidadeparcela').val(),
                quantParcelasGeradas = $('#grid_parcelas > tbody > tr').length;

            if ($('#txt_datavenda').val() != "") {

                dataVenda = formatar_data($('#txt_datavenda').val());
            }



            if (quant == 0) {

                $('#msg_mensagem_aviso').html('Nenhum produto foi informado');
                $('#msg_aviso').show();
                $('#msg_mensagem_aviso').show();

                setInterval(function () {

                    $('#msg_mensagem_aviso').val('');
                    $('#msg_mensagem_aviso').hide();
                    $('#msg_aviso').hide();


                }, 5000);
            }
            else if (idFormaPagamento == 2 && (quantidadeParcelas == "" || quantidadeParcelas == 0)) {

                    $('#msg_mensagem_aviso').html('Informe a quantidade de parcelas');
                    $('#msg_aviso').show();
                    $('#msg_mensagem_aviso').show();

                setInterval(function () {

                    $('#msg_mensagem_aviso').val('');
                    $('#msg_mensagem_aviso').hide();
                    $('#msg_aviso').hide();


                }, 5000);
            }

            else if (idFormaPagamento == 2 && (quantidadeParcelas != "" || quantidadeParcelas != 0) && quantParcelasGeradas == 0) {
                $('#msg_mensagem_aviso').html('Atenção, para finalizar é necessário gerar as parcelas.');
                $('#msg_aviso').show();
                $('#msg_mensagem_aviso').show();

                setInterval(function () {

                    $('#msg_mensagem_aviso').val('');
                    $('#msg_mensagem_aviso').hide();
                    $('#msg_aviso').hide();


                }, 5000);

            }
            else {

                var btn = $(this),
                    url = '@Url.Action("SalvarVendaProduto", "OperVenda")',
                    param = {
                        Id: $('#id_cadastro').val(),
                        DataVenda: dataVenda,
                        IdCliente: $('#txt_idcliente').val(),
                        NumeroVenda: $('#txt_numerovenda').val(),
                        ValorTotalNota: formatar_decimal($('#txt_valortotalnota').val()),
                        IdFretePorConta: $('#ddl_idfreteporconta').val(),
                        ValorFrete: formatar_decimal($('#txt_valorfrete').val()),
                        ValorDesconto: formatar_decimal($('#txt_valordesconto').val()),
                        ValorAcrescimo: formatar_decimal($('#txt_valoracrescimo').val()),
                        ValorProduto: formatar_decimal($('#txt_valorprodutos').val()),
                        IdFormaPagamento: $('#ddl_idformapagamento').val(),
                        DataCadastro: formatar_data($('#txt_datacadastro').val()),
                        ValorPago: formatar_decimal($('#txt_valorpago').val())

                    };

                $.post(url, param, function (response) {

                    if (response.Resultado == "OK") {

                        var loading = bootbox.dialog({
                            message: '<div class="text-center" style="color:#0000FF; font-size:14px"><i class= "fa fa-spinner fa-spin fa-2x fa-fw" ></i> Aguarde, inserindo os dados da nota...</div>',
                            closeButton: false

                        });

                        if (param.Id == 0) {

                            param.Id = response.IdSalvo;
                            param.DataVenda = $('#txt_datavenda').val();
                            param.ValorTotalNota = $('#txt_valortotalnota').val();
                            param.ValorFrete = $('#txt_valorfrete').val();
                            param.ValorDesconto = $('#txt_valordesconto').val();
                            param.ValorAcrescimo = $('#txt_valoracrescimo').val();
                            param.ValorProduto = $('#txt_valorprodutos').val();
                            param.ValorPago = $('#txt_valorpago').val();


                            var url = '@Url.Action("InserirItem", "OperVendaItem")',
                                paramItens = { 'idVenda': param.Id };

                            $.post(url, paramItens, function (responseItem) {

                                if (responseItem.Resultado == "OK") {

                                    var table = $('#grid_cadastro').find('tbody'),
                                        linha = '';

                                    setTimeout(function () {
                                        loading.modal('hide'),

                                            $('#grid_cadastro').removeClass('invisivel');
                                        $('#mensagem_grid').addClass('invisivel');
                                        linha = criar_linha_grid(param);
                                        table.append(linha)

                                    }, 3000);

                                    $('#modal_cadastro').parents('.bootbox').modal('hide');

                                }
                                else if (responseItem.Resultado == "AVISO") {

                                    $('#msg_mensagem_aviso').html(formatar_mensagens_aviso(response.Mensagens));
                                    $('#msg_mensagem_aviso').show();
                                    $('#msg_aviso').show();
                                    $('#msg_erro').hide();

                                    setInterval(function () {

                                        $('#msg_mensagem_aviso').val('');
                                        $('#msg_mensagem_aviso').hide();
                                        $('#msg_aviso').hide();


                                    }, 5000);

                                }
                            });
                        }
                    }
                    else if (response.Resultado == "ERRO") {


                        $('#msg_mensagem_aviso').val('');
                        $('#msg_mensagemaviso').hide();
                        $('#msg_aviso').hide();
                        $('#msg_erro').show();

                    }
                    else if (response.Resultado == "AVISO") {

                        $('#msg_mensagem_aviso').html(formatar_mensagens_aviso(response.Mensagens));
                        $('#msg_mensagem_aviso').show();
                        $('#msg_aviso').show();
                        $('#msg_erro').hide();

                        setInterval(function () {

                            $('#msg_mensagem_aviso').val('');
                            $('#msg_mensagem_aviso').hide();
                            $('#msg_aviso').hide();


                        }, 5000);

                    }
                });
            }
        })

        .on('click', '#btn_gerarparcelas', function () {

            var btn = (this),
                valorTotalNota = $('#txt_valortotalnota').val(),
                quantParcelas = $('#txt_quantidadeparcela').val(),
                vlTotalNota = parseFloat(valorTotalNota.replace(",", "."));

            var hoje = new Date();

            var valorParcelas = (vlTotalNota / quantParcelas);

            var modal_parcelas = $('#div_modalparcelas');

            bootbox.dialog({

                title: 'Parcelas',
                size: 'small',
                message: modal_parcelas


            }).on('shown.bs.modal', function () {

                modal_parcelas.show(0, function () {

                    var table = $('#grig_parcelas').find('tbody');
                    table.empty();
                    var dataVenda = $('#txt_datavenda').val();
                    var ret = '';

                    for (var i = 1; i <= quantParcelas; i++) {

                        var dataVencimento = new Date();
                        dataVencimento.setDate(hoje.getDate() + (30 * i ));

                        ret += '<tr>' +
                            '<td class="text-center">' + i + '</td>'+
                            '<td><input type="text" class="form-control" id="txt_datavencimento" name="txt_datavencimento'+ i + '" value="' + formatar_data_atual(dataVencimento) + '"/></td>' +
                            '<td><input type="text" class="form-control" id="txt_valorparcela" name="txt_valorparcela'+ i +'" value="' + valorParcelas.toFixed(2) + '"/></td>' +
                            '</tr>'
                            ;

                    }





                    table.append(ret);

                })

            }).on('hidden.bs.modal', function(){


                modal_parcelas.hide().appendTo('tbody');

            });


        })

        .on('click', '#detalhamento', function () {

            var btn = $(this),
                id = btn.closest('tr').attr('data-id'),
                url = '@Url.Action("RecuperarVendaProduto", "OperVenda")',
                urlParcelas = '@Url.Action("RecuperarVendaProdutoParcela", "OperVendaParcela")',
                urlItens = '@Url.Action("RecuperarVendaItem", "OperVendaItem")',
                param = { 'id': id };


            $('#detalhes_parcelas').val('');
            $('#div_detalhamentoparcelas').addClass('invisivel');
            $.post(url, param, function (response) {

                var loading = bootbox.dialog({
                    message: '<div class="text-center" style="color:#0000FF; font-size:14px"><i class= "fa fa-spinner fa-spin fa-2x fa-fw" ></i> Aguarde, as informações estão sendo carregadas...</div>',
                    closeButton: false

                });

                if (response) {

                    setTimeout(function () { loading.modal('hide'), abrir_detalhamento(response) }, 3000);

                }
            })

            $.post(urlParcelas, param, function (response) {

                if (response.length > 0) {

                    $('#div_detalhamentoparcelas').removeClass('invisivel');

                    var ret = '';

                    for (var i = 0; i < response.length; i++) {


                        ret += '<div class="col-md-3" style="margin-top:5px; margin-bottom:15px"><input class="form-control" disabled="disabled" type="text" value="'+ response[i].Parcela +'"/></div>';
                    }

                    $('#detalhes_parcelas').html(ret);
                }

            });


            $.post(urlItens, param, function (responseItem) {
                if (responseItem) {

                    if (responseItem.length > 0) {

                        var table = $('#grid_itens_venda').find('tbody');

                        table.empty()

                        for (var i = 0; i < responseItem.length; i++) {

                            table.append(criar_linha_grid_itens(responseItem[i]));

                        }
                    }
                }
            });
        });

    </script>

}
